body {
  margin:0px;
  background-color:rgba(129, 211, 248, 0.0901960784313725);
  background-image:none;
  position:static;
  left:auto;
  width:523px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u7903 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7904_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:836px;
  background:inherit;
  background-color:rgba(13, 13, 13, 1);
  border:none;
  border-radius:30px;
  -moz-box-shadow:10px 10px 30px rgba(102, 102, 102, 0.349019607843137);
  -webkit-box-shadow:10px 10px 30px rgba(102, 102, 102, 0.349019607843137);
  box-shadow:10px 10px 30px rgba(102, 102, 102, 0.349019607843137);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:100px;
  color:#FFFFFF;
}
#u7904 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:134px;
  width:393px;
  height:836px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:100px;
  color:#FFFFFF;
}
#u7904 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7904_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7905_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:812px;
  background:inherit;
  background-color:rgba(127, 127, 127, 0.996078431372549);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:100px;
  color:#FFFFFF;
}
#u7905 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:146px;
  width:375px;
  height:812px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:100px;
  color:#FFFFFF;
}
#u7905 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7905_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7906_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
}
#u7906 {
  border-width:0px;
  position:absolute;
  left:237px;
  top:144px;
  width:180px;
  height:30px;
  display:flex;
}
#u7906 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7906_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7907 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7908 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7909 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7910 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7911_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:11px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7911 {
  border-width:0px;
  position:absolute;
  left:439px;
  top:155px;
  width:3px;
  height:11px;
  display:flex;
}
#u7911 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7911_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7912_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:8px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7912 {
  border-width:0px;
  position:absolute;
  left:434px;
  top:158px;
  width:3px;
  height:8px;
  display:flex;
}
#u7912 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7912_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7913_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:6px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7913 {
  border-width:0px;
  position:absolute;
  left:429px;
  top:160px;
  width:3px;
  height:6px;
  display:flex;
}
#u7913 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7913_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7914_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:4px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7914 {
  border-width:0px;
  position:absolute;
  left:424px;
  top:162px;
  width:3px;
  height:4px;
  display:flex;
}
#u7914 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7914_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7915 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7916_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:5px;
}
#u7916 {
  border-width:0px;
  position:absolute;
  left:446px;
  top:155px;
  width:16px;
  height:5px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u7916 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7916_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7917_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:5px;
}
#u7917 {
  border-width:0px;
  position:absolute;
  left:448px;
  top:158px;
  width:12px;
  height:5px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u7917 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7917_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7918_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:3px;
}
#u7918 {
  border-width:0px;
  position:absolute;
  left:451px;
  top:163px;
  width:6px;
  height:3px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u7918 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7918_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7919 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7920_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(85, 85, 85, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7920 {
  border-width:0px;
  position:absolute;
  left:466px;
  top:155px;
  width:22px;
  height:12px;
  display:flex;
}
#u7920 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7920_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7921_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:8px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7921 {
  border-width:0px;
  position:absolute;
  left:468px;
  top:157px;
  width:18px;
  height:8px;
  display:flex;
}
#u7921 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7921_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7922_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:4px;
}
#u7922 {
  border-width:0px;
  position:absolute;
  left:489px;
  top:159px;
  width:2px;
  height:4px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u7922 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7922_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7923_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u7923 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:148px;
  width:33px;
  height:20px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u7923 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7923_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7924_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:5px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7924 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:943px;
  width:135px;
  height:5px;
  display:flex;
}
#u7924 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7924_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7925 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7926_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  background:inherit;
  background-color:rgba(127, 127, 127, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7926 {
  border-width:0px;
  position:absolute;
  left:139px;
  top:173px;
  width:375px;
  height:50px;
  display:flex;
}
#u7926 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7926_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7927 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7928_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u7928 {
  border-width:0px;
  position:absolute;
  left:416px;
  top:183px;
  width:90px;
  height:30px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u7928 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7928_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7929 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7930 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7931_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u7931 {
  border-width:0px;
  position:absolute;
  left:436px;
  top:195px;
  width:6px;
  height:6px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u7931 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7931_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7932_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:3px;
}
#u7932 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:197px;
  width:3px;
  height:3px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u7932 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7932_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7933_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:3px;
}
#u7933 {
  border-width:0px;
  position:absolute;
  left:445px;
  top:197px;
  width:3px;
  height:3px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u7933 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7933_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7934_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:19px;
}
#u7934 {
  border-width:0px;
  position:absolute;
  left:461px;
  top:189px;
  width:1px;
  height:18px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u7934 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7934_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7935 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7936_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u7936 {
  border-width:0px;
  position:absolute;
  left:477px;
  top:190px;
  width:16px;
  height:16px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u7936 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7936_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7937_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u7937 {
  border-width:0px;
  position:absolute;
  left:482px;
  top:195px;
  width:6px;
  height:6px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u7937 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7937_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7938_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u7938 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:184px;
  width:72px;
  height:24px;
  display:flex;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u7938 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7938_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7939 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:231px;
  width:333px;
  height:693px;
}
#u7939_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:333px;
  height:693px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7939_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7940_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:184px;
}
#u7940 {
  border-width:0px;
  position:absolute;
  left:191px;
  top:0px;
  width:139px;
  height:184px;
  display:flex;
}
#u7940 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7940_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7941_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#D7D7D7;
}
#u7941 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:192px;
  width:153px;
  height:20px;
  display:flex;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#D7D7D7;
}
#u7941 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7941_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7942_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#D7D7D7;
}
#u7942 {
  border-width:0px;
  position:absolute;
  left:191px;
  top:192px;
  width:126px;
  height:20px;
  display:flex;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#D7D7D7;
}
#u7942 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7942_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7943_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:184px;
}
#u7943 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:297px;
  width:143px;
  height:184px;
  display:flex;
}
#u7943 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7943_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7944_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:184px;
}
#u7944 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:0px;
  width:130px;
  height:184px;
  display:flex;
}
#u7944 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7944_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7945_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:184px;
}
#u7945 {
  border-width:0px;
  position:absolute;
  left:191px;
  top:297px;
  width:142px;
  height:184px;
  display:flex;
}
#u7945 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7945_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7946_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 102, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7946 {
  border-width:0px;
  position:absolute;
  left:104px;
  top:297px;
  width:46px;
  height:22px;
  display:flex;
}
#u7946 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7946_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7947 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:0px;
  width:134px;
  height:184px;
}
#u7947_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:184px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7947_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7948_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:191px;
}
#u7948 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-4px;
  width:146px;
  height:191px;
  display:flex;
}
#u7948 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7948_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7947_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:184px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u7947_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7949_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:191px;
}
#u7949 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-4px;
  width:146px;
  height:191px;
  display:flex;
}
#u7949 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7949_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7947_state2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:184px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u7947_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7950_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:202px;
}
#u7950 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-4px;
  width:147px;
  height:202px;
  display:flex;
}
#u7950 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7950_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7951_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(236, 128, 141, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#EC808D;
}
#u7951 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:245px;
  width:109px;
  height:33px;
  display:flex;
  color:#EC808D;
}
#u7951 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7951_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7952_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u7952 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:212px;
  width:40px;
  height:20px;
  display:flex;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u7952 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7952_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7953_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(236, 128, 141, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#EC808D;
}
#u7953 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:245px;
  width:109px;
  height:33px;
  display:flex;
  color:#EC808D;
}
#u7953 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7953_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7954_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(236, 128, 141, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#EC808D;
}
#u7954 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:545px;
  width:109px;
  height:33px;
  display:flex;
  color:#EC808D;
}
#u7954 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7954_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7955_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(236, 128, 141, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#EC808D;
}
#u7955 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:547px;
  width:109px;
  height:33px;
  display:flex;
  color:#EC808D;
}
#u7955 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7955_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7956_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u7956 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:214px;
  width:40px;
  height:20px;
  display:flex;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u7956 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7956_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7957_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:184px;
}
#u7957 {
  border-width:0px;
  position:absolute;
  left:191px;
  top:593px;
  width:139px;
  height:184px;
  display:flex;
}
#u7957 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7957_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7958 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:593px;
  width:134px;
  height:184px;
}
#u7958_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:184px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7958_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7959_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:191px;
}
#u7959 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-4px;
  width:146px;
  height:191px;
  display:flex;
}
#u7959 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7959_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7958_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:184px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u7958_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7960_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:191px;
}
#u7960 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-4px;
  width:146px;
  height:191px;
  display:flex;
}
#u7960 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7960_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7958_state2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:184px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u7958_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7961_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:147px;
  height:202px;
}
#u7961 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-4px;
  width:147px;
  height:202px;
  display:flex;
}
#u7961 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7961_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7962_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(236, 128, 141, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#EC808D;
}
#u7962 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:831px;
  width:109px;
  height:33px;
  display:flex;
  color:#EC808D;
}
#u7962 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7962_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7963_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(236, 128, 141, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#EC808D;
}
#u7963 {
  border-width:0px;
  position:absolute;
  left:206px;
  top:831px;
  width:109px;
  height:33px;
  display:flex;
  color:#EC808D;
}
#u7963 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7963_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7964_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:174px;
}
#u7964 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:872px;
  width:127px;
  height:174px;
  display:flex;
}
#u7964 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7964_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7965_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(236, 128, 141, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#EC808D;
}
#u7965 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:1102px;
  width:109px;
  height:33px;
  display:flex;
  color:#EC808D;
}
#u7965 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7965_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7966_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(127, 127, 127, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#7F7F7F;
}
#u7966 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:245px;
  width:109px;
  height:33px;
  display:flex;
  color:#7F7F7F;
}
#u7966 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7966_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7967_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  color:#FACD91;
}
#u7967 {
  border-width:0px;
  position:absolute;
  left:82px;
  top:214px;
  width:71px;
  height:18px;
  display:flex;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  color:#FACD91;
}
#u7967 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7967_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7968_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  color:#FACD91;
}
#u7968 {
  border-width:0px;
  position:absolute;
  left:246px;
  top:216px;
  width:71px;
  height:18px;
  display:flex;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  color:#FACD91;
}
#u7968 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7968_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7969_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#D7D7D7;
}
#u7969 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:495px;
  width:153px;
  height:20px;
  display:flex;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#D7D7D7;
}
#u7969 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7969_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7970_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u7970 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:515px;
  width:40px;
  height:20px;
  display:flex;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u7970 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7970_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7971_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  color:#FACD91;
}
#u7971 {
  border-width:0px;
  position:absolute;
  left:83px;
  top:517px;
  width:71px;
  height:18px;
  display:flex;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  color:#FACD91;
}
#u7971 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7971_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7972_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#D7D7D7;
}
#u7972 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:495px;
  width:153px;
  height:20px;
  display:flex;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#D7D7D7;
}
#u7972 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7972_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7973_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u7973 {
  border-width:0px;
  position:absolute;
  left:191px;
  top:515px;
  width:40px;
  height:20px;
  display:flex;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u7973 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7973_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7974_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  color:#FACD91;
}
#u7974 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:517px;
  width:71px;
  height:18px;
  display:flex;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  color:#FACD91;
}
#u7974 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7974_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7975_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D7D7D7;
}
#u7975 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:784px;
  width:143px;
  height:19px;
  display:flex;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D7D7D7;
}
#u7975 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7975_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7976_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u7976 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:804px;
  width:40px;
  height:20px;
  display:flex;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u7976 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7976_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7977_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  color:#FACD91;
}
#u7977 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:806px;
  width:71px;
  height:18px;
  display:flex;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  color:#FACD91;
}
#u7977 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7977_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7978_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D7D7D7;
}
#u7978 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:784px;
  width:143px;
  height:19px;
  display:flex;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D7D7D7;
}
#u7978 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7978_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7979_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u7979 {
  border-width:0px;
  position:absolute;
  left:191px;
  top:804px;
  width:40px;
  height:20px;
  display:flex;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u7979 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7979_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7980_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  color:#FACD91;
}
#u7980 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:806px;
  width:71px;
  height:18px;
  display:flex;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  color:#FACD91;
}
#u7980 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7980_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7981_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D7D7D7;
}
#u7981 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:1056px;
  width:143px;
  height:19px;
  display:flex;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#D7D7D7;
}
#u7981 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7981_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7982_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u7982 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:1076px;
  width:40px;
  height:20px;
  display:flex;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u7982 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7982_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7983_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  color:#FACD91;
}
#u7983 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:1078px;
  width:71px;
  height:18px;
  display:flex;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  color:#FACD91;
}
#u7983 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7983_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7984_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u7984 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:715px;
  width:1px;
  height:20px;
  display:flex;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u7984 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7984_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
  visibility:hidden;
}
#u7985_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:22px;
}
#u7985 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:187px;
  width:11px;
  height:22px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u7985 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7985_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
