body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-47px;
  width:393px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u6852 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6853_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:393px;
  height:836px;
  background:inherit;
  background-color:rgba(13, 13, 13, 1);
  border:none;
  border-radius:30px;
  -moz-box-shadow:10px 10px 30px rgba(102, 102, 102, 0.349019607843137);
  -webkit-box-shadow:10px 10px 30px rgba(102, 102, 102, 0.349019607843137);
  box-shadow:10px 10px 30px rgba(102, 102, 102, 0.349019607843137);
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:100px;
  color:#FFFFFF;
}
#u6853 {
  border-width:0px;
  position:absolute;
  left:47px;
  top:62px;
  width:393px;
  height:836px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:100px;
  color:#FFFFFF;
}
#u6853 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6853_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6854_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:812px;
  background:inherit;
  background-color:rgba(228, 228, 228, 0.996078431372549);
  border:none;
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:100px;
  color:#FFFFFF;
}
#u6854 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:74px;
  width:375px;
  height:812px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:100px;
  color:#FFFFFF;
}
#u6854 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6854_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6855_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:30px;
}
#u6855 {
  border-width:0px;
  position:absolute;
  left:154px;
  top:72px;
  width:180px;
  height:30px;
  display:flex;
}
#u6855 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6855_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6856 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6857 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6858 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6859 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6860_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:11px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6860 {
  border-width:0px;
  position:absolute;
  left:356px;
  top:83px;
  width:3px;
  height:11px;
  display:flex;
}
#u6860 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6860_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6861_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:8px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6861 {
  border-width:0px;
  position:absolute;
  left:351px;
  top:86px;
  width:3px;
  height:8px;
  display:flex;
}
#u6861 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6861_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6862_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:6px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6862 {
  border-width:0px;
  position:absolute;
  left:346px;
  top:88px;
  width:3px;
  height:6px;
  display:flex;
}
#u6862 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6862_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6863_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:4px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:1px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6863 {
  border-width:0px;
  position:absolute;
  left:341px;
  top:90px;
  width:3px;
  height:4px;
  display:flex;
}
#u6863 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6863_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6864 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6865_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:5px;
}
#u6865 {
  border-width:0px;
  position:absolute;
  left:363px;
  top:83px;
  width:16px;
  height:5px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u6865 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6865_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6866_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:5px;
}
#u6866 {
  border-width:0px;
  position:absolute;
  left:365px;
  top:86px;
  width:12px;
  height:5px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u6866 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6866_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6867_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:3px;
}
#u6867 {
  border-width:0px;
  position:absolute;
  left:368px;
  top:91px;
  width:6px;
  height:3px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u6867 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6867_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6868 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6869_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:12px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(156, 156, 159, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6869 {
  border-width:0px;
  position:absolute;
  left:383px;
  top:83px;
  width:22px;
  height:12px;
  display:flex;
}
#u6869 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6869_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6870_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:8px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6870 {
  border-width:0px;
  position:absolute;
  left:385px;
  top:85px;
  width:18px;
  height:8px;
  display:flex;
}
#u6870 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6870_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6871_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:4px;
}
#u6871 {
  border-width:0px;
  position:absolute;
  left:406px;
  top:87px;
  width:2px;
  height:4px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u6871 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6871_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6872_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u6872 {
  border-width:0px;
  position:absolute;
  left:86px;
  top:76px;
  width:33px;
  height:20px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#000000;
}
#u6872 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6872_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6873_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:5px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6873 {
  border-width:0px;
  position:absolute;
  left:176px;
  top:871px;
  width:135px;
  height:5px;
  display:flex;
}
#u6873 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6873_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6874 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6875_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:50px;
  background:inherit;
  background-color:rgba(230, 230, 230, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6875 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:101px;
  width:375px;
  height:50px;
  display:flex;
}
#u6875 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6875_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6876 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6877_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u6877 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:111px;
  width:90px;
  height:30px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u6877 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6877_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6878 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6879 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6880_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u6880 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:123px;
  width:6px;
  height:6px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u6880 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6880_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6881_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:3px;
}
#u6881 {
  border-width:0px;
  position:absolute;
  left:347px;
  top:125px;
  width:3px;
  height:3px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u6881 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6881_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6882_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:3px;
  height:3px;
}
#u6882 {
  border-width:0px;
  position:absolute;
  left:362px;
  top:125px;
  width:3px;
  height:3px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u6882 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6882_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6883_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:19px;
}
#u6883 {
  border-width:0px;
  position:absolute;
  left:378px;
  top:117px;
  width:1px;
  height:18px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u6883 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6883_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6884 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6885_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u6885 {
  border-width:0px;
  position:absolute;
  left:394px;
  top:118px;
  width:16px;
  height:16px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u6885 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6885_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6886_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:6px;
}
#u6886 {
  border-width:0px;
  position:absolute;
  left:399px;
  top:123px;
  width:6px;
  height:6px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u6886 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6886_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6887_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u6887 {
  border-width:0px;
  position:absolute;
  left:198px;
  top:112px;
  width:72px;
  height:25px;
  display:flex;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  color:#000000;
}
#u6887 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6887_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6888_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:102px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6888 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:151px;
  width:375px;
  height:102px;
  display:flex;
}
#u6888 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6888_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6889_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u6889 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:635px;
  width:134px;
  height:20px;
  display:flex;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u6889 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6889_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6890_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6890 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:165px;
  width:180px;
  height:21px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u6890 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6890_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6891_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u6891 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:669px;
  width:214px;
  height:20px;
  display:flex;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u6891 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6891_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6892_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u6892 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:279px;
  width:30px;
  height:20px;
  display:flex;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u6892 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6892_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6893_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u6893 {
  border-width:0px;
  position:absolute;
  left:171px;
  top:279px;
  width:78px;
  height:20px;
  display:flex;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u6893 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6893_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6894_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u6894 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:308px;
  width:181px;
  height:20px;
  display:flex;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u6894 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6894_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6895_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u6895 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:286px;
  width:30px;
  height:30px;
  display:flex;
}
#u6895 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6895_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6896_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u6896 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:550px;
  width:75px;
  height:20px;
  display:flex;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u6896 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6896_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6897_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u6897 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:583px;
  width:30px;
  height:20px;
  display:flex;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u6897 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6897_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6898_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u6898 {
  border-width:0px;
  position:absolute;
  left:347px;
  top:550px;
  width:49px;
  height:20px;
  display:flex;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u6898 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6898_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6899_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u6899 {
  border-width:0px;
  position:absolute;
  left:364px;
  top:583px;
  width:38px;
  height:20px;
  display:flex;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u6899 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6899_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6900_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:22px;
}
#u6900 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:117px;
  width:11px;
  height:22px;
  display:flex;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u6900 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6900_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6901 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6902_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:147px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6902 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:356px;
  width:372px;
  height:147px;
  display:flex;
}
#u6902 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6902_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6903_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u6903 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:366px;
  width:264px;
  height:23px;
  display:flex;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u6903 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6903_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6904_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#7F7F7F;
}
#u6904 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:395px;
  width:143px;
  height:17px;
  display:flex;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#7F7F7F;
}
#u6904 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6904_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6905_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u6905 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:422px;
  width:49px;
  height:21px;
  display:flex;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u6905 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6905_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6906_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#555555;
}
#u6906 {
  border-width:0px;
  position:absolute;
  left:63px;
  top:473px;
  width:176px;
  height:23px;
  display:flex;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#555555;
}
#u6906 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6906_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6907_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:76px;
}
#u6907 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:367px;
  width:76px;
  height:76px;
  display:flex;
}
#u6907 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6907_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6908_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:21px;
}
#u6908 {
  border-width:0px;
  position:absolute;
  left:396px;
  top:474px;
  width:27px;
  height:21px;
  display:flex;
}
#u6908 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6908_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6909_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:29px;
}
#u6909 {
  border-width:0px;
  position:absolute;
  left:351px;
  top:471px;
  width:26px;
  height:29px;
  display:flex;
}
#u6909 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6909_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6910_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#555555;
}
#u6910 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:420px;
  width:82px;
  height:33px;
  display:flex;
  color:#555555;
}
#u6910 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6910_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6911_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:29px;
}
#u6911 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:471px;
  width:29px;
  height:29px;
  display:flex;
}
#u6911 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6911_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6912_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u6912 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:705px;
  width:105px;
  height:20px;
  display:flex;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u6912 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6912_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6913_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u6913 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:734px;
  width:214px;
  height:20px;
  display:flex;
  font-family:'华文细黑';
  font-weight:400;
  font-style:normal;
  font-size:15px;
}
#u6913 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6913_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
