body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-9.38137821521028px;
  width:114.61862178479px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:82px;
  height:87px;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:73px;
  width:72px;
  height:77px;
  display:flex;
  font-size:30px;
}
#u0 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u0_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u1_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:26px;
  width:50px;
  height:50px;
  display:flex;
  -webkit-transform:rotate(285deg);
  -moz-transform:rotate(285deg);
  -ms-transform:rotate(285deg);
  transform:rotate(285deg);
}
#u1 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u1_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
