body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-59px;
  width:998px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2233_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:527px;
}
#u2233 {
  border-width:0px;
  position:absolute;
  left:402px;
  top:72px;
  width:296px;
  height:527px;
  display:flex;
}
#u2233 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2233_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2234_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:297px;
  height:527px;
}
#u2234 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:72px;
  width:297px;
  height:527px;
  display:flex;
}
#u2234 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2234_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2235_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:296px;
  height:527px;
}
#u2235 {
  border-width:0px;
  position:absolute;
  left:751px;
  top:72px;
  width:296px;
  height:527px;
  display:flex;
}
#u2235 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2235_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2236_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2236 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:33px;
  width:300px;
  height:30px;
  display:flex;
}
#u2236 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2236_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2237_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2237 {
  border-width:0px;
  position:absolute;
  left:402px;
  top:33px;
  width:300px;
  height:30px;
  display:flex;
}
#u2237 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2237_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2238_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2238 {
  border-width:0px;
  position:absolute;
  left:757px;
  top:33px;
  width:300px;
  height:30px;
  display:flex;
}
#u2238 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2238_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2239_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:33px;
}
#u2239 {
  border-width:0px;
  position:absolute;
  left:262px;
  top:221px;
  width:146px;
  height:33px;
  display:flex;
  color:#FFFFFF;
}
#u2239 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2239_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2240_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:33px;
}
#u2240 {
  border-width:0px;
  position:absolute;
  left:945px;
  top:216px;
  width:112px;
  height:33px;
  display:flex;
  color:#FFFFFF;
}
#u2240 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2240_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2241_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:33px;
}
#u2241 {
  border-width:0px;
  position:absolute;
  left:586px;
  top:122px;
  width:146px;
  height:33px;
  display:flex;
  color:#FFFFFF;
}
#u2241 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2241_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
